.feed {
    flex: 0.4;
    border-right: 1px solid var(--twitter-background);
    min-width: fit-content;
    overflow-y: scroll;
}

/* to hide the scroll on the feed */
.feed::-webkit-scrollbar {     
    display: none;
}

.feed {
    -ms-text-overflow-style: none;
    scrollbar-width: none;
}

.feed-header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 15px 20px;
}