.widgets {
    flex: 0.3;
    position: sticky;
    top: 0;
    height: 100%;
}

.widgets-input {
    display: flex;
    align-items: center;
    background-color: var(--twitter-background);
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
}

.widgets-input > input {
    border: none;
    background-color: var(--twitter-background);
    outline: none;
}

.widgets-search-icon {
    color: grey;
}

.widgets-container {
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: #f5f8fa;
    border-radius: 20px;
    height: 100%;
}

.widgets-container > ul {
    list-style: none;
}

.widgets-container > ul > li {
    margin: 30px 0;
    font-size: 1rem;
    font-weight: 800;
    cursor: pointer;
}