.tweet-box {
    padding-bottom: 10px;
    border-bottom: 8px solid var(--twitter-color);
    padding-right: 10px;
}

.tweet-box > form {
    display: flex;
    flex-direction: column;
}

.tweet-box-input {
    padding: 20px;
    display: flex;
}

.tweet-box-input > input {
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
    outline: none;
}

.tweet-box-image-input {
    border: none;
    padding: 10px;
    outline: none;
}

.tweet-box-tweet-btn {
    background-color: var(--twitter-color);
    border: none;
    color: white;
    font-weight: 900;
    text-transform: inherit;
    border-radius: 30px;
    height: 40px;
    margin-top: 20px;
    width: 80px;
    margin-left: auto;
    cursor: pointer;
}