.sidebar {
    border-right: 1px solid var(--twitter-background);
    flex: 0.3;
    min-width: 220px;
    margin-left: 20px;
}

.sidebar-twitter-icon {
    color: var(--twitter-color);
    font-size: 30px;
    margin: 10px 20px;
    margin-bottom: 20px;
}

.sidebar-tweet-btn {
    background-color: var(--twitter-color);
    border: none;
    color: white;
    font-weight: 900;
    text-transform: inherit;
    border-radius: 30px;
    height: 50px;
    margin-top: 20px;
    width: 90%;
    cursor: pointer;
}