.login-split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.login-left {
    left: 0;
    background-color: aliceblue;
}

.login-right {
    right: 0;
    background-color: var(--twitter-color);
}

.login-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-centered h1 {
    font-weight: 900;
    font-size: 3rem;
    color: var(--twitter-color);
    margin-bottom: 20px;
}

.login-logo {
    color: var(--twitter-color);
    font-size: 50px;
    margin-left: 2.3rem;
}

.login-header {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.input-container {
    padding: 30px 0;
}

.login-input {
    height: 20px;
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 10px 8px;
}

.login-btn-container{
    text-align: center;
}

.login-input-btn {
    width: 50%;
    font-weight: 700;
    height: 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

.login-input-btn:hover {
    color: var(--twitter-color);
    transition: 0.3ms;
}

.login-note {
     color: white;
     font-size: 18px;
}

.log-error-container {
    text-align: center;
}

.log-error {
    color: var(--error)
}

.login-click {
    color: var(--click);
    cursor: pointer;
}